* {
    margin: 0px;
    padding: 0px;
 }

nav {
background-color: lightskyblue; 
padding: 20px;
font-size: 40px;
}

h3 {
    justify-content: center;
    text-align: center;
}
h2 {
    text-align: center;
    a
}